<div class="sidebar-panel gene-sidenav" fxLayout="column" style="background-color: #37474F;">
  <mat-toolbar class="sidebar-logo">
     <div class="gene-logo">
        <a href="javascript:void(0)" (click)="onClick()">
           <div class="logo-text inline-block"><h1 class="sideTitle">{{'Skills Development' | translate}}</h1></div>
        </a>
     </div>
  </mat-toolbar>
  <perfect-scrollbar>
     <div class="sidebar-container">
        <div class="gene-user-thumb text-center">
           <img class="img-responsive img-circle" src="assets/img/logo.png" width="107" height="107" alt="user list image">
           <div class="gene-user-name"> </div>
        </div>
        <div class="sidenav-scrollbar-container" fxLayout="column">
           <ng-container *ngIf="verticalMenuStatus; else horizontalMenuStatus">
              <mat-nav-list fxLayout="column" menuToggleDirective class="navigation">
                 <mat-list-item menuToggleLink *ngFor="let menuitem of menuList.getAll()">
                    <a menuToggle class="gene-relative" mat-ripple *ngIf="menuitem.type === 'button'" [routerLink]="['/']">
                    <mat-icon>{{ menuitem.icon }}</mat-icon>
                    <span>{{ menuitem.name | translate }}</span>
                    <ng-container *ngIf="menuitem.label">
                       <span class="sidebar-label">{{ menuitem.label}}</span>
                    </ng-container>
                    </a>
                    <a menuToggle class="gene-relative" mat-ripple [routerLink]="['/Home/', menuitem.state]" routerLinkActive="active-link" *ngIf="menuitem.type === 'link'">
                    <mat-icon>{{ menuitem.icon }}</mat-icon>
                    <span>{{ menuitem.name | translate }}</span>
                    <ng-container *ngIf="menuitem.label">
                       <span class="sidebar-label">{{ menuitem.label}}</span>
                    </ng-container>
                    </a>
                   </mat-list-item>
               </mat-nav-list>
           </ng-container>
           <ng-template #horizontalMenuStatus>
              <mat-nav-list fxLayout="column" menuToggleDirective class="navigation">
                 <mat-list-item  *ngFor="let menuitem of menuList.getAll()" menuToggleLink>
                    <a menuToggle class="gene-relative" mat-ripple *ngIf="menuitem.type === 'link'" [routerLink]="'/Home/'+menuitem.state">
                    <mat-icon>{{ menuitem.icon }}</mat-icon>
                    <span>{{ menuitem.name | translate }}</span>
                    <ng-container *ngIf="menuitem.label">
                       <span class="sidebar-label">{{ menuitem.label}}</span>
                    </ng-container>
                    </a>

                 </mat-list-item>
                 <mat-divider></mat-divider>
              </mat-nav-list>
           </ng-template>
        </div>
     </div>
  </perfect-scrollbar>
</div>

