@media(max-width:599px){
  .set-resp-space{
     padding-top: 0.8rem !important;
     padding-bottom: 0.8rem !important;
  }


}
.material-icons
{
  font-size: large;
}
mat-card
{
  justify-content: center !important;
  text-align: center;
  justify-items: center;
  align-items: center;

  margin-left: 30%;

}


.mat-form-field
{

  font-size: 1rem;

}

body{
  background-image: url(../../../../assets/img/login-bg.jpg);
}
